<!DOCTYPE html>
<html>
<head>
    <title>Proveedores</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<nav class="my-3 mx-4 navbar navbar-expand-lg fixed-top bg-success-subtle rounded">
			<div class="container-fluid">
				<a class="navbar-brand me-auto" href="#" style="font-family: 'Times New Roman', Times, serif;">Grupo 11</a>
				<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
					aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel"
							style="font-family: 'Times New Roman', Times, serif;">Grupo 11</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Productos
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/product}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/product/new}">Agregar uno nuevo</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/product/report}">Reportes</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Proveedores
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/supplier/index}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/supplier/new}">Agregar uno nuevo</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Pedidos
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/supply-order}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/supply-order/new}">Agregar uno nuevo</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Ventas
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/sale/list}">Ver la lista</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Ingresos
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/stock/index}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/stock/new}">Agregar uno nuevo</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<form th:action="@{/logout}" method="post" class="d-flex m-0">
					<button class="btn btn-outline-success logout-btn" type="submit">Log Out</button>
				</form>
				<button class="navbar-toggler ms-4" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
    <div class="container" style="margin-top: 75px;">
        <h1 class="text-uppercase text-center py-2 my-3">
            Proveedores
            <small class="fs-3 text-body-secondary">Lista de todos los proveedores</small>
        </h1>
        <table class="table table-success table-striped table-bordered border-success table-hover text-center ">
            <thead>
                <tr class="">
                    <th>Código</th>
                    <th>Nombre</th>
					<th>Teléfono</th>
					<th>Eliminar</th>
                </tr>
            </thead>
            <tbody >
                <tr th:each="supplier : ${suppliers}">
                    <td th:text="${supplier.id}"></td>
                    <td th:text="${supplier.name + ' ' + supplier.lastname}"></td>
                    <td th:text="${supplier.phoneNumber}"></td>
					<td>
						<a th:href="@{/supplier/delete/{id}(id=${supplier.id})}" onclick="return confirm('¿Estás seguro/a de querer eliminar este producto?')" class="btn btn-danger btn-sm">Eliminar</a>
					</td>
                </tr>
            </tbody>
        </table>
        <div class="text-end">
            <a th:href="@{/supplier/new}" class="btn btn-success">Nuevo Proveedor</a>
        </div>
    </div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>