<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		  <title>Stock</title>
		  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	</head>
</html>
<body>
	<div class="container">
		<h1 class="text-center mt-4">Productos con su stock</h1>
		<div class="row mt-4">
			<div class="col-md-3 mb-3" th:each="product : ${products}">
				<h2 th:text="${product.name}"></h2>
				<h4>Stock disponible: <b th:text="${product.amount}"></b></h4>
				<button class="btn btn-outline-success mt-2">Agregar stock</button>
			</div>
		</div>
	</div>
</body>
