<!DOCTYPE html>
<html>

<head>
	<title>Pedido Aprovisionamiento</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
	<nav class="my-3 mx-4 navbar navbar-expand-lg fixed-top bg-success-subtle rounded">
			<div class="container-fluid">
				<a class="navbar-brand me-auto" href="#" style="font-family: 'Times New Roman', Times, serif;">Grupo 11</a>
				<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
					aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel"
							style="font-family: 'Times New Roman', Times, serif;">Grupo 11</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Productos
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/product}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/product/new}">Agregar uno nuevo</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/product/report}">Reportes</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Proveedores
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/supplier/index}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/supplier/new}">Agregar uno nuevo</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Pedidos
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/supply-order}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/supply-order/new}">Agregar uno nuevo</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Ventas
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/sale/list}">Ver la lista</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									Ingresos
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" th:href="@{/stock/index}">Ver la lista</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" th:href="@{/stock/new}">Agregar uno nuevo</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<form th:action="@{/logout}" method="post" class="d-flex m-0">
					<button class="btn btn-outline-success logout-btn" type="submit">Log Out</button>
				</form>
				<button class="navbar-toggler ms-4" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	<div class="container" style="margin-top: 75px;">
		<h1 class="text-uppercase text-center py-2 my-3">
			Pedidos
			<small class="fs-3 text-body-secondary">Lista de pedidos de aprovisionamiento</small>
		</h1>
		<div style="width: 750px;" class="container mt-3 bg-success-subtle rounded px-5 py-3 mx-auto row shadow p-3 mb-5 bg-body-success rounded">
			<div class="mb-5" th:each="stock : ${supplyOrders}">
				<h2 class="fw-medium">Producto: <b th:text=" ${stock.product.name}"></b></h2>
				<h4 class="ps-5">Cantidad pedida: <b th:text="${stock.requestedAmount}"></b></h4>
				<h4 class="ps-5">Fecha de emisión: <b th:text="${stock.requestedAt}"></b></h4>
				<h4 class="ps-5">Nombre del proveedor: <b th:text="${stock.supplier.name + ' '+ stock.supplier.lastname}"></b></h4>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a th:href="@{/supply-order/new}"
				class="my-3 me-3 btn btn-outline-primary fw-medium text-uppercase">Realizar un pedido</a>
		</div>
	</div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>

